.page-header {
    background: url('images/header-image-web-sm.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
    text-shadow: 2px 2px #000000;
}
